/* Medium Devices, Desktops */

@media only screen and (max-width: 1024px) {

    #hero {
        max-height: 660px;
    }
    #clients img {
        height: 50px;
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width: 980px) {

        #hero {
            height: 540px;
        }
        #about {
            padding-top: 40px;
        }

        /* PORTFOLIO SECTION */
        .myphoto {
            text-align: center;
        }

        /*COLLUPSABLE NAVIGATION MENU*/
        .navbar-header {
            float: none;
        }
        .navbar-left,
        .navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav > li {
            float: none;
            padding-left: 30px;
            overflow: hidden;
        }
        .collapse.in {
            display: block !important;
        }
    }


    /* Mobile Devices */
    @media only screen and (max-width: 640px) {

        h2 {
            font-size: 1.9em;
        }
        h3 {
            font-size: 1.5em
        }
        h4 {
            font-size: 1.1em;
        }
        #hero {
            height: 650px;
            text-align: center;
        }
        #about {
            text-align: center;
        }
.footerlinks {
	display: none;
}
        #about .myphoto img {
            display: none;
        }
        /* Smaller Mobile Devices */
        @media only screen and (max-width: 480px) {
            #hero {
                height: 320px;
            }
            #clients {
                display: none;
            }
            .footersocial li {
                font-size: 1.5em
            }
        }
#hero h4 {
    font-size: 16px;
}
#hero h1 {
	font-size: 22px
}
        #hero h2 {
            font-size: 22px;
        }
        /* Smallest Mobile Devices */
        @media only screen and (max-width: 320px) {
            #hero {
                height: 480px;
            }
            .herocontent {
                padding-top: 100px;
                padding-bottom: 30px;
            }
